// Variables
$seagreen : #108984;
// $seagreen : #008080;
$darkBlue : #304577;
$light : #d7eff5;
$green :#53ba00;
$light-text : #7a7a7a;
$yellow: #FFF8D6;


// Utilities
.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fs-sm {
  font-size: small;
}

.fs-lg {
  font-size: large;
}

ul li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.mt-10 {
  margin-top: 6rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: #333;
  color: #fff;
}

.lead-text {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 300;
  color: $light-text;

  span {
    color: $green;
    font-weight: bold;
  }
}

.text-green {
  color: $green;
}

.section {
  margin-block: 5rem;
}

// ******** slide ******** //
.focus-on-slide {
  .slick-slide {
    opacity: 0.5;
    transform: scale(0.7);
    transition: all 400ms ease 100ms;
    animation-duration: 400ms;

    &.slick-current.slick-active {
      opacity: 1;
      transform: scale(1);
      transition: all 400ms ease 200ms;
    }
  }

}


// ******* Navbar ******* //
.navbar-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s;
  transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  z-index: 5;

  &.static {
    transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &.fixed {
    transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &~*{
    margin-top: 95px;
  }
}

.nav-item {
  margin-right: 1rem;

  .nav-link {
    font-weight: bold;

    &.active {
      color: $seagreen !important;
    }
  }
}

.curves {
  $curve-clr: $seagreen;
  overflow-x: hidden;

  &::before {
    content: "";
    display: block;
    width: 120%;
    height: 240px;
    background-color: $curve-clr;
    border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
    margin-left: -10%;
  }

  &::after {
    content: "";
    display: block;
    width: 120%;
    height: 240px;
    margin-top: -180px;
    background-color: $curve-clr;
    border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
    margin-left: -10%;
    z-index: -1;
    position: relative;
  }
}

.sticky {
  position: sticky;
  top: 3rem;
}


// ******* Banner ******* //
#banner {

  .banner-wrapper {
    background: $seagreen;

    .container {
      margin-top: -170px;
    }
  }
}

// ********** Vision Section ********** //
#vision {
  .card {
    border: none !important;
    transition: all 0.3s ease-in-out;
    margin-block: 1.5rem;

    &:hover {
      transform: translateY(-5%);

      .card-title {
        color: $green;
      }
    }

    i {
      font-size: 6rem;
    }
  }
}

// ********** Innovative Section ********** //
#innovative {
  .wrapper {
    background: $light;
    margin-top: -14rem;
    padding-bottom: 10rem;
  }

  .curves {
    &::before {
      background-color: $light;
    }

    &::after {
      background: none;
    }
  }

  .wrapper+div {
    margin-top: -5rem;

    &::before {
      background-color: $yellow;
    }

    &::after {
      background: none;
      // background-color: $yellow;
    }
  }

  .yellow-wrapper {
    background-color: $yellow;
    margin-top: -14rem;
    padding-bottom: 3rem;

  }

  .yellow-wrapper+div {
    margin-top: -15rem;

    &::before {
      background-color: $yellow;
    }

    &::after {
      // background: none;
      background-color: $yellow;
    }
  }
}

// ********** Partners Section ********** //
#partners {
  background: url('../images/hand-shake.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  z-index: 0;
  padding: 200px 0;

  &::before {
    content: '';
    position: absolute;
    background: #0009;
    inset: 0;
    isolation: isolate;
    z-index: 1;
  }

  .container {
    place-content: center;
    position: relative;
    z-index: 2;
  }

  .lead-text {
    margin-bottom: 1rem;
  }

  .partner-slider img {
    height: 65px;
    object-fit: contain;
  }

}

#faces {
  .card {
    max-width: 250px;
    margin: auto;

    .img-wrapper {
      overflow: hidden;

      img {
        filter: grayscale(100%);
        transition: all 0.3s;
        transform: scale(1);

        &:hover {
          transform: scale(1.2);
        }
      }
    }

  }
}

#get-in-touch {
  padding: 5rem;
  margin-bottom: 0;
  background-image: linear-gradient(135deg, #A6E72A 20%, #53BA00 80%);

  i {
    color: #fff;
    border: 2px solid #fff;
    padding: 1.5rem;
    border-radius: 50%;
  }

  h5 {
    position: relative;
  }

  h5::after {
    content: '';
    position: absolute;
    background: #fff;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 2px;
  }
}

.main-footer {
  $curvedSizeFooter: 7rem;
  background-color: #00254D;
  // background-color: #004D;
  margin-top: $curvedSizeFooter;
  position: relative;

  .footer-curved {
    width: 100%;
    height: $curvedSizeFooter;
    object-fit: cover;
    object-position: top;
    position: absolute;
    left: 0;
    bottom: 100%;
  }

  .footer-column {

    &:not(:last-child) {
      width: 100%;
      max-width: 180px;
    }

    h6 {
      color: $seagreen;
    }

    .footer-link {
      color: $light;
      padding-top: .5rem;
      padding-bottom: .25rem;
      display: inline-block;

      &:hover {
        color: $light;
      }
    }
  }

}
