// Variables
$seagreen : #108984;
// $seagreen : #008080;
$darkBlue : #304577;
$light : #d7eff5;
$green :#53ba00;
$light-text : #7a7a7a;
$yellow: #FFF8D6;
$l-grey: #F7F7F7;
$grey  :#C5C5C5;

// Utilities
.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fs-sm {
  font-size: small;
}

.fs-lg {
  font-size: large;
}

.m-large{
  margin: 5rem 8rem;
}

ul li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.mt-10 {
  margin-top: 6rem;
}

.mt--10{margin-top: -10rem;}
.mt--13{margin-top: -13rem;}

.h-100vh{height: 100vh;}

.flex-120{flex: 120%;}

.learn-btn{
  padding: 1em 1.25em;
  background: #0459b4;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  transition: background 0.2s ease;
  &:hover{
    background: #004084;
  }
}

body {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Comfortaa', sans-serif;
}

::selection {
  background-color: #333;
  color: #fff;
}

.lead-text {
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  font-weight: 300;
  margin-bottom: 5rem;
  color: $light-text;

  span {
    color: $green;
    font-weight: bold;
  }
}

.text-green {
  color: $green;
}

.section {
  margin-block: 5rem;
}

.btn-dark-rounded {
  font-size: 0.9rem;
  background: $darkBlue;
  color: #fff;
  padding: 0.75em 2em;
  border-radius: 2rem;
}

// ******** slide ******** //
.focus-on-slide {
  .slick-slide {
    opacity: 0.5;
    transform: scale(0.7);
    transition: all 400ms ease 100ms;
    animation-duration: 400ms;

    &.slick-current.slick-active {
      opacity: 1;
      transform: scale(1);
      transition: all 400ms ease 200ms;
    }
  }

}


// ******* Navbar ******* //
.navbar-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s;
  transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  z-index: 5;

  &.static {
    padding-block: 1rem;
    transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &.fixed {
    padding-block: 0;
    transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &.sticky{
    background: #3c4444;
    top: 4.6rem;
    overflow: visible;

    @media screen and (max-width: 1200px) {
      top: 4rem;
    }
  }

}

.navbar-brand {
  max-width: 10%;

  @media screen and (max-width:990px) {
    max-width: 25%;
  }
}

// @media screen and (max-width:990px) {
//   .navbar-brand{max-width: 25%;}
// }

.nav-item {
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.1rem;

  .nav-link {
    // font-weight: bold;
    font-size: 14.4px !important;
    color: #fff !important;
    position: relative;

    &.active::before {
      content: '';
      position: absolute;
      background: $seagreen;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
    }
  }
}

.curves {
  $curve-clr: $seagreen;
  overflow-x: hidden;

  &::before {
    content: "";
    display: block;
    width: 140%;
    height: 240px;
    background-color: $curve-clr;
    border-radius: 50% 50% 49% 51% / 100% 100% 0% 0% ;
    margin-left: -20%;
  }

  &::after {
    content: "";
    display: block;
    width: 120%;
    height: 240px;
    margin-top: -180px;
    background-color: $curve-clr;
    border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
    margin-left: -10%;
    z-index: -1;
    position: relative;
  }
}

.sticky {
  top: 6rem;
  overflow: hidden;
  @media (min-width: '768px') {
    position: sticky;
  }
}

.flex-center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-required{
  color: red
}


// ******* Banner ******* //
#banner {
  overflow-x: hidden;
  .banner-wrapper {
    background: url('../img/Banner-slider-bg1.jpg');
    position: relative;
    isolation: isolate;

    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(11, 0, 39, 0.80);
      z-index: -1;
    }

    &::after{
      content: "";
      display: block;
      width: 120%;
      height: 10rem;
      margin-top: -6rem;
      background-color: white;
      border-radius: 50% 50% 49% 51% / 100% 100% 0% 0%;
      margin-left: -10%;
    }
  }
}

.scroll-down-btn{
  position: absolute;
  bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

// ******* Contact ******* //
.contact-navbar{
  &.navbar-wrapper{
    position: relative;
    top: 6rem;
  }
  .nav-link{
    color: #000 !important;
    font-size: 14.4rem;
  }
  
}

#contact{
  margin-top: -5rem;
  padding-top: 10rem;
  background: #d0f3f2;
  padding-bottom: 5rem;
  margin-bottom: -4rem;

  .contact-wrapper{
    textarea{
      min-height: 6rem;
    }
  }
}

// ********** Vision Section ********** //
#vision {
  margin-top: -4rem;
  position: relative;
  z-index: 2;
  .card {
    border: none !important;
    transition: all 0.3s ease-in-out;
    margin-block: 1.5rem;

    img{
      width: 150px;
      height: 150px;
    }

    &:hover {
      transform: translateY(-5%);

      .card-title {
        color: $green;
      }
    }

    i {
      font-size: 6rem;
    }
  }
}

// ********** Innovative Section ********** //
#innovative {
  .wrapper {
    background: $light;
    margin-top: -14rem;
    padding-bottom: 10rem;
  }

  .lead-text{
    margin-bottom: 5rem;
  }

  .slide-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .video-div{
    .text{
      width: 45%;
      margin-right: 2rem;
    }
  }

  .curves {
    &::before {
      background-color: $light;
    }

    &::after {
      background: none;
    }
  }

  .wrapper+div {
    margin-top: -5rem;

    &::before {
      background-color: $yellow;
    }

    &::after {
      background: none;
    }
  }

  .green.curves{
    margin-top: -10rem;
    &::before{
      background: $seagreen;
      // margin-top: -10rem;
      position: relative;
      z-index: 0;
    }
  }

  .yellow-wrapper,
  .green-wrapper {
    background-color: $yellow;
    margin-top: -10rem;
    padding-bottom: 10rem;
  }

  .green-wrapper{
    background-color: $seagreen;
    color: white;
    padding-bottom: 20rem;
  }

  .yellow-wrapper+div {
    margin-top: -15rem;

    &::before {
      background-color: $yellow;
    }

    &::after {
      background: none;
      // background-color: $yellow;
    }
  }
}

.section-ec{
  margin-top: -10rem;
  position: relative;
  z-index: 1;
}

// ********** Partners Section ********** //
#partners {
  color: #fff;
  padding: 50px 0;
  overflow-x: hidden;
  margin-top: -17rem;

  &::before{
    background: $darkBlue;
    margin-bottom: -6rem;
    z-index: 2;
    position: relative;
  }

  &::after {
    display: none;
  }

  .wrapper {
    background: $darkBlue;
    padding-block: clamp(11rem, calc(10vw + 1rem), 3rem);
  }

  .container {
    margin-top: -11rem;
    place-content: center;
    position: relative;
    z-index: 2;
  }

  .lead-text {
    margin-bottom: 1rem;
  }

  .partner-slider img {
    height: 65px;
    object-fit: contain;
  }

}

// @media screen and (max-width:567px) {
//   #partners{
//     .wrapper{padding-block: 8rem;}
//   }  
// }

#faces {
  margin-top: -13rem;
  &::before{
    background: #fff;
    margin-bottom: -6rem;
  }
  &::after{
    display: none;
  }
  .card {
    max-width: 250px;
    margin: auto;

    .img-wrapper {
      overflow: hidden;

      img {
        filter: grayscale(100%);
        transition: all 0.3s;
        transform: scale(1);

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .card-title{
      font-size: 1.5rem;
    }

    .card-decs{
      color: $green;
      font-size: 0.75rem;
      p{
        margin-block: 0.75rem;
      }
      a{
        color: #0a58ca;
        text-decoration: underline;
      }
    }
    .nav.social-icons a {
      background: #fff;
      border: 1px solid #333;
      width: 35px;
      height: 35px;
      display: block;
      line-height: 35px;
      border-radius: 20px;
      color: #333;
      text-align: center;
      margin-inline: 4px;

      &:hover{
        background: #333;
        color: #fff;
      }
    }
  }
}

#faces-full{
  margin-top: -13rem;

  .curves{
    &.l-grey{
      .wrapper{
        background: $l-grey;
      }
      &::before{
        background-color: $l-grey;
      }
    }
    &.green{
      margin-top: -13rem;
      .wrapper{
        margin-top: -4rem;
        background: $green;
        color: white;
      }
      &::before{
        background: $green;
      }
    }
    &.grey{
      margin-top: -13rem;
      .wrapper{
        margin-top: -4rem;
        background: $grey;
      }
      &::before{
        background: $grey;
      }
    }

    &::after{
      background: none;
    }
  }
  .wrapper{
    background-color: $l-grey;
    margin-top: -8rem;
    padding-bottom: 10rem;
  }
  .framed-img{
    border: 15px solid white;
    box-shadow: 0px 0px 20px 5px #0006;
  }
}

#get-in-touch {
  margin-top: -14rem;
  margin-bottom: -5rem;
  &::before{
    background: #F2FDF2;
  }
  &::after{
    display: none;
  }
  .wrapper{
    background: #F2FDF2;
    padding-bottom: 15rem;
  
    img{
      position: absolute;
      top: -90px;
      left: 0;
      transform: translateX(70%);
    }
  }
}



//   padding: 5rem;
//   margin-bottom: 0;
//   background-image: linear-gradient(135deg, #A6E72A 20%, #53BA00 80%);

//   i {
//     color: #fff;
//     border: 2px solid #fff;
//     padding: 1.5rem;
//     border-radius: 50%;
//   }

//   h5 {
//     position: relative;
//   }

//   h5::after {
//     content: '';
//     position: absolute;
//     background: #fff;
//     bottom: -1rem;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 3rem;
//     height: 2px;
//   }
// }

.main-footer {

  &.curves::before{
    background-color :#00254D; 
    margin-bottom: -6rem;
  }

  &.curves::after{
    display: none;
  }

  .wrapper{
    background-color: #00254D;
  }

  .footer-column {

    &:not(:last-child) {
      width: 100%;
      max-width: 180px;
    }

    h6 {
      color: #21eb40;
    }

    .footer-link {
      color: $light;
      padding-top: .5rem;
      padding-bottom: .25rem;
      display: inline-block;

      &:hover {
        color: $light;
      }
    }
  }

}
