.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fs-sm {
  font-size: small;
}

.fs-lg {
  font-size: large;
}

ul li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.mt-10 {
  margin-top: 6rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: #333;
  color: #fff;
}

.lead-text {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 300;
  color: #7a7a7a;
}

.lead-text span {
  color: #53ba00;
  font-weight: bold;
}

.text-green {
  color: #53ba00;
}

.section {
  margin-block: 5rem;
}

.focus-on-slide .slick-slide {
  opacity: 0.5;
  transform: scale(0.7);
  transition: all 400ms ease 100ms;
  animation-duration: 400ms;
}

.focus-on-slide .slick-slide.slick-current.slick-active {
  opacity: 1;
  transform: scale(1);
  transition: all 400ms ease 200ms;
}

.navbar-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s;
  transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  z-index: 5;
}

.navbar-wrapper.static {
  transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.navbar-wrapper.fixed {
  transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.navbar-wrapper ~ * {
  margin-top: 95px;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item .nav-link {
  font-weight: bold;
}

.nav-item .nav-link.active {
  color: #108984 !important;
}

.curves {
  overflow-x: hidden;
}

.curves::before {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  background-color: #108984;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
}

.curves::after {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  margin-top: -180px;
  background-color: #108984;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
  z-index: -1;
  position: relative;
}

.sticky {
  position: sticky;
  top: 3rem;
}

#banner .banner-wrapper {
  background: #108984;
}

#banner .banner-wrapper .container {
  margin-top: -170px;
}

#vision .card {
  border: none !important;
  transition: all 0.3s ease-in-out;
  margin-block: 1.5rem;
}

#vision .card:hover {
  transform: translateY(-5%);
}

#vision .card:hover .card-title {
  color: #53ba00;
}

#vision .card i {
  font-size: 6rem;
}

#innovative .wrapper {
  background: #d7eff5;
  margin-top: -14rem;
  padding-bottom: 10rem;
}

#innovative .curves::before {
  background-color: #d7eff5;
}

#innovative .curves::after {
  background: none;
}

#innovative .wrapper + div {
  margin-top: -5rem;
}

#innovative .wrapper + div::before {
  background-color: #FFF8D6;
}

#innovative .wrapper + div::after {
  background: none;
}

#innovative .yellow-wrapper {
  background-color: #FFF8D6;
  margin-top: -14rem;
  padding-bottom: 3rem;
}

#innovative .yellow-wrapper + div {
  margin-top: -15rem;
}

#innovative .yellow-wrapper + div::before {
  background-color: #FFF8D6;
}

#innovative .yellow-wrapper + div::after {
  background-color: #FFF8D6;
}

#partners {
  background: url("../images/hand-shake.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  z-index: 0;
  padding: 200px 0;
}

#partners::before {
  content: '';
  position: absolute;
  background: #0009;
  inset: 0;
  isolation: isolate;
  z-index: 1;
}

#partners .container {
  place-content: center;
  position: relative;
  z-index: 2;
}

#partners .lead-text {
  margin-bottom: 1rem;
}

#partners .partner-slider img {
  height: 65px;
  object-fit: contain;
}

#faces .card {
  max-width: 250px;
  margin: auto;
}

#faces .card .img-wrapper {
  overflow: hidden;
}

#faces .card .img-wrapper img {
  filter: grayscale(100%);
  transition: all 0.3s;
  transform: scale(1);
}

#faces .card .img-wrapper img:hover {
  transform: scale(1.2);
}

#get-in-touch {
  padding: 5rem;
  margin-bottom: 0;
  background-image: linear-gradient(135deg, #A6E72A 20%, #53BA00 80%);
}

#get-in-touch i {
  color: #fff;
  border: 2px solid #fff;
  padding: 1.5rem;
  border-radius: 50%;
}

#get-in-touch h5 {
  position: relative;
}

#get-in-touch h5::after {
  content: '';
  position: absolute;
  background: #fff;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 2px;
}

.main-footer {
  background-color: #00254D;
  margin-top: 7rem;
  position: relative;
}

.main-footer .footer-curved {
  width: 100%;
  height: 7rem;
  object-fit: cover;
  object-position: top;
  position: absolute;
  left: 0;
  bottom: 100%;
}

.main-footer .footer-column:not(:last-child) {
  width: 100%;
  max-width: 180px;
}

.main-footer .footer-column h6 {
  color: #108984;
}

.main-footer .footer-column .footer-link {
  color: #d7eff5;
  padding-top: .5rem;
  padding-bottom: .25rem;
  display: inline-block;
}

.main-footer .footer-column .footer-link:hover {
  color: #d7eff5;
}
